<h1>Edit Landmark</h1>
<form method="post" action="/landmarks/<%= @landmark.id %>">
<input id="hidden" type="hidden" name="_method" value="patch">

<p>Landmark Name: <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name"></p>

<p>Landmark Year Completed: <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed"></p>


<input type="submit" value="Edit Figure" id="Edit Landmark">

</form>