<h1>New Landmark Form</h1>
<form method="post" action="/landmarks">

<label>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></label>

<label>Landmark Year Completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></label>

<input type="submit" value="Create New Landmark">
</form>
